.headerBackground {
    background-image: url('./headerBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 30%;
    min-height: 30em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 0;
    padding-left: 100px;
    padding-right: 100px;
}

.headerBackground::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.8; 
    pointer-events: none; 
    z-index: 1;
}


.headerLogo{
    width: 22em;
    height: 22em;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    z-index: 2;
}
.headerParaghraph {
    color: black;
    width: 55%;
    padding: 1em;
    font-size: 2rem;
    text-align: right;
    z-index: 2;
    margin-top: -1em;
    
}
.headerParaghraph span {

    font-size: 4.5rem;

}