*{
    margin: 0;
    padding: 0;
}
:root{
    --main-font:"Inika", serif;
    --secound-font:"Inria Serif", serif;
    --boy-color:#BBE8E8;
    --girl-color:#F8B2AA;
}
body{
    font-family: var(--main-font);
}
#homeSec{
    position: relative;
    height: 100dvh;
    background-image: url(icons/home\ section\ bg.png);
    background-size: cover;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    .bgImg{
        position: absolute;
        width: 100vw;
        bottom: -5px;
        left: 0;
        z-index: 1;
    }
    .text{
        margin: 0 6vw;
        font-size: clamp( 20px , 2rem, 50px );
        font-weight: 400;
        z-index: 1;
        span{
            color:var(--girl-color) ;
        }
    }
    .top{
        position: relative;
        &::after{
            content: url(icons/home\ section\ text\ svg.png);
            position: absolute;
            top: -75%;
            transform: translateX(-25%);
        }
    }
    &::before{
        content: '';
        position: absolute;
        background: #ffffff60;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
    }
}
#container{
    min-height: 100dvh;
    background: linear-gradient(to right , var(--girl-color) , var(--boy-color));
}

.team{
    padding: 50px 0;
    position: relative;
    h1{
        margin: 0 50px;
        text-transform: capitalize;
        font-size: clamp(32px , 4vw , 4vw);
        font-weight: 400;
        span{
            font-weight: bold;

        }
        text-align: center;
        
    }
    .cards{
        margin: 5vw 2vw;
        display: grid;
        grid-template-columns: repeat(auto-fit, 350px);
        justify-content: center;
        row-gap: 3vw;
        column-gap: 1.5vw;
        .card{
            
            background: white;
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            padding: 20px;
            gap: 15px;
            .boy{
                aspect-ratio: 4/3;
                background: var(--boy-color);
                border-radius: 20px;
            }
            .girl{
                aspect-ratio: 4/3;
                background: var(--girl-color);
                border-radius: 20px;

            }
            .title{
                font-family: var(--secound-font);
                font-size: 27.5px;
                color: #D9D9D9;
                margin: 0 15px;
                text-transform: capitalize;

            }
            .name{
                min-height: 105px;
                margin: 0 15px;
                color: var(--girl-color);
                font-size: 40px;
                font-family: var(--main-font);
                font-weight: 400;
                text-transform: capitalize;
            }
            .social{
                margin: auto 15px 0 15px;

                display: flex;
                gap: 20px;
                margin-top: 20px;
                img{
                    width: 40px;
                }
            }
            
        }
        
        
    }
}
